version: '3.8'

services:
  caddy:
    image: caddy:2.8
    container_name: cferndp-caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - ./html:/srv/landing:ro
      - caddy_data:/data
      - caddy_config:/config
    environment:
      - TZ=Europe/Madrid

volumes:
  caddy_data:
  caddy_config:
