version: '3.8'

services:
  caddy:
    image: caddy:2.8
    container_name: cferndp-caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    environment:
      - TZ=Europe/Madrid
    networks:
      - caddy_net

networks:
  caddy_net:
    external: true
    name: caddy_net

volumes:
  caddy_data:
  caddy_config:
