---
import { skills } from "../../../data/skills";
import "./styles.css";
---

<section id="skills">
    <h2 class="section-title title-green reveal">
        Tech Stack<span class="line"></span>
    </h2>

    <div class="skills-grid">
        {
            skills.map((category, i) => (
                <div class={`skill-category reveal stagger-${(i % 5) + 1}`}>
                    <div class="skill-cat-title font-orbitron">
                        {category.title}
                    </div>
                    <div class="skill-tags">
                        {category.tags.map((tag) => (
                            <span
                                class={`skill-tag skill-tag--${tag.color} font-mono`}
                            >
                                {tag.label}
                            </span>
                        ))}
                    </div>
                </div>
            ))
        }
    </div>
</section>
