---
import { education } from "../../../data/education";
import "./styles.css";
---

<section id="education">
    <h2 class="section-title title-purple reveal">
        Education<span class="line"></span>
    </h2>

    <div class="edu-grid">
        {
            education.map((item) => (
                <div class="edu-card reveal">
                    <div class="edu-date font-mono">{item.date}</div>
                    <div class="edu-degree font-orbitron">{item.degree}</div>
                    <div class="edu-school">{item.school}</div>
                    <ul class="edu-details">
                        {item.details.map((detail) => (
                            <li>{detail}</li>
                        ))}
                    </ul>
                </div>
            ))
        }
    </div>
</section>
