---
import { education } from "../../../data/education";
import SectionTitle from "../../../components/atoms/SectionTitle/index.astro";
import EducationCard from "../../../components/molecules/EducationCard/index.astro";
---

<section id="education">
    <SectionTitle color="purple">Education</SectionTitle>

    <div class="edu-grid">
        {
            education.map((item) => (
                <div class="reveal">
                    <EducationCard
                        date={item.date}
                        degree={item.degree}
                        school={item.school}
                        details={item.details}
                    />
                </div>
            ))
        }
    </div>
</section>

<style>
    .edu-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 2rem;
    }

    @media (max-width: 400px) {
        .edu-grid {
            grid-template-columns: 1fr;
        }
    }
</style>
